<%= link_to "Logout".html_safe, destroy_user_session_path, method: :delete %>

<button class="fixed-cta">Post Question</button>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article-header" data-placeholder="Enter Question Title"></div>
      <div class="article-area" data-placeholder="Desctiption"></div>
      <input type="text" class="form-control" id="tokenfield" placeholder="Enter some tags"/>
    </div>
  </div>
</div>


