<button class="button">Publish</button>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article-header" data-placeholder="Title"></div>
      <div class="article-area" data-placeholder="Type your article"></div>
    </div>
  </div>
</div>



